--
-- PostgreSQL database dump
--

\restrict b9O9C9qTdxp8BALkb7Wr4fU7vC3h4sxrdkhjYvrpYRibNzhZ40LFb4i0uSJjHbr

-- Dumped from database version 16.10 (Debian 16.10-1.pgdg13+1)
-- Dumped by pg_dump version 16.10 (Debian 16.10-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: netdevops_user
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO netdevops_user;

--
-- Name: audit_events; Type: TABLE; Schema: public; Owner: netdevops_user
--

CREATE TABLE public.audit_events (
    id integer NOT NULL,
    user_id integer,
    username character varying(100),
    role character varying(50),
    action character varying(200) NOT NULL,
    target character varying(255),
    endpoint character varying(255) NOT NULL,
    "timestamp" timestamp without time zone,
    details json
);


ALTER TABLE public.audit_events OWNER TO netdevops_user;

--
-- Name: audit_events_id_seq; Type: SEQUENCE; Schema: public; Owner: netdevops_user
--

CREATE SEQUENCE public.audit_events_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.audit_events_id_seq OWNER TO netdevops_user;

--
-- Name: audit_events_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: netdevops_user
--

ALTER SEQUENCE public.audit_events_id_seq OWNED BY public.audit_events.id;


--
-- Name: config_snapshots; Type: TABLE; Schema: public; Owner: netdevops_user
--

CREATE TABLE public.config_snapshots (
    id integer NOT NULL,
    device_id integer NOT NULL,
    filename character varying(512) NOT NULL,
    content text,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.config_snapshots OWNER TO netdevops_user;

--
-- Name: config_snapshots_id_seq; Type: SEQUENCE; Schema: public; Owner: netdevops_user
--

CREATE SEQUENCE public.config_snapshots_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.config_snapshots_id_seq OWNER TO netdevops_user;

--
-- Name: config_snapshots_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: netdevops_user
--

ALTER SEQUENCE public.config_snapshots_id_seq OWNED BY public.config_snapshots.id;


--
-- Name: devices; Type: TABLE; Schema: public; Owner: netdevops_user
--

CREATE TABLE public.devices (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    ip character varying(100) NOT NULL,
    platform character varying(100) NOT NULL,
    credentials_ref character varying(255) NOT NULL,
    port integer
);


ALTER TABLE public.devices OWNER TO netdevops_user;

--
-- Name: devices_id_seq; Type: SEQUENCE; Schema: public; Owner: netdevops_user
--

CREATE SEQUENCE public.devices_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.devices_id_seq OWNER TO netdevops_user;

--
-- Name: devices_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: netdevops_user
--

ALTER SEQUENCE public.devices_id_seq OWNED BY public.devices.id;


--
-- Name: job_attempts; Type: TABLE; Schema: public; Owner: netdevops_user
--

CREATE TABLE public.job_attempts (
    id integer NOT NULL,
    job_id integer NOT NULL,
    attempt_no integer NOT NULL,
    started_at timestamp with time zone DEFAULT now(),
    completed_at timestamp with time zone,
    exit_code integer
);


ALTER TABLE public.job_attempts OWNER TO netdevops_user;

--
-- Name: job_attempts_id_seq; Type: SEQUENCE; Schema: public; Owner: netdevops_user
--

CREATE SEQUENCE public.job_attempts_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.job_attempts_id_seq OWNER TO netdevops_user;

--
-- Name: job_attempts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: netdevops_user
--

ALTER SEQUENCE public.job_attempts_id_seq OWNED BY public.job_attempts.id;


--
-- Name: job_logs; Type: TABLE; Schema: public; Owner: netdevops_user
--

CREATE TABLE public.job_logs (
    id integer NOT NULL,
    job_id integer NOT NULL,
    attempt_id integer,
    output text,
    exit_code integer,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.job_logs OWNER TO netdevops_user;

--
-- Name: job_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: netdevops_user
--

CREATE SEQUENCE public.job_logs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.job_logs_id_seq OWNER TO netdevops_user;

--
-- Name: job_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: netdevops_user
--

ALTER SEQUENCE public.job_logs_id_seq OWNED BY public.job_logs.id;


--
-- Name: jobs; Type: TABLE; Schema: public; Owner: netdevops_user
--

CREATE TABLE public.jobs (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    device_id integer NOT NULL,
    command text NOT NULL,
    status character varying(50),
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.jobs OWNER TO netdevops_user;

--
-- Name: jobs_id_seq; Type: SEQUENCE; Schema: public; Owner: netdevops_user
--

CREATE SEQUENCE public.jobs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.jobs_id_seq OWNER TO netdevops_user;

--
-- Name: jobs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: netdevops_user
--

ALTER SEQUENCE public.jobs_id_seq OWNED BY public.jobs.id;


--
-- Name: audit_events id; Type: DEFAULT; Schema: public; Owner: netdevops_user
--

ALTER TABLE ONLY public.audit_events ALTER COLUMN id SET DEFAULT nextval('public.audit_events_id_seq'::regclass);


--
-- Name: config_snapshots id; Type: DEFAULT; Schema: public; Owner: netdevops_user
--

ALTER TABLE ONLY public.config_snapshots ALTER COLUMN id SET DEFAULT nextval('public.config_snapshots_id_seq'::regclass);


--
-- Name: devices id; Type: DEFAULT; Schema: public; Owner: netdevops_user
--

ALTER TABLE ONLY public.devices ALTER COLUMN id SET DEFAULT nextval('public.devices_id_seq'::regclass);


--
-- Name: job_attempts id; Type: DEFAULT; Schema: public; Owner: netdevops_user
--

ALTER TABLE ONLY public.job_attempts ALTER COLUMN id SET DEFAULT nextval('public.job_attempts_id_seq'::regclass);


--
-- Name: job_logs id; Type: DEFAULT; Schema: public; Owner: netdevops_user
--

ALTER TABLE ONLY public.job_logs ALTER COLUMN id SET DEFAULT nextval('public.job_logs_id_seq'::regclass);


--
-- Name: jobs id; Type: DEFAULT; Schema: public; Owner: netdevops_user
--

ALTER TABLE ONLY public.jobs ALTER COLUMN id SET DEFAULT nextval('public.jobs_id_seq'::regclass);


--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: netdevops_user
--

COPY public.alembic_version (version_num) FROM stdin;
2b5c8442ca84
\.


--
-- Data for Name: audit_events; Type: TABLE DATA; Schema: public; Owner: netdevops_user
--

COPY public.audit_events (id, user_id, username, role, action, target, endpoint, "timestamp", details) FROM stdin;
\.


--
-- Data for Name: config_snapshots; Type: TABLE DATA; Schema: public; Owner: netdevops_user
--

COPY public.config_snapshots (id, device_id, filename, content, created_at) FROM stdin;
\.


--
-- Data for Name: devices; Type: TABLE DATA; Schema: public; Owner: netdevops_user
--

COPY public.devices (id, name, ip, platform, credentials_ref, port) FROM stdin;
\.


--
-- Data for Name: job_attempts; Type: TABLE DATA; Schema: public; Owner: netdevops_user
--

COPY public.job_attempts (id, job_id, attempt_no, started_at, completed_at, exit_code) FROM stdin;
\.


--
-- Data for Name: job_logs; Type: TABLE DATA; Schema: public; Owner: netdevops_user
--

COPY public.job_logs (id, job_id, attempt_id, output, exit_code, created_at) FROM stdin;
\.


--
-- Data for Name: jobs; Type: TABLE DATA; Schema: public; Owner: netdevops_user
--

COPY public.jobs (id, name, device_id, command, status, created_at) FROM stdin;
\.


--
-- Name: audit_events_id_seq; Type: SEQUENCE SET; Schema: public; Owner: netdevops_user
--

SELECT pg_catalog.setval('public.audit_events_id_seq', 1, false);


--
-- Name: config_snapshots_id_seq; Type: SEQUENCE SET; Schema: public; Owner: netdevops_user
--

SELECT pg_catalog.setval('public.config_snapshots_id_seq', 1, false);


--
-- Name: devices_id_seq; Type: SEQUENCE SET; Schema: public; Owner: netdevops_user
--

SELECT pg_catalog.setval('public.devices_id_seq', 1, false);


--
-- Name: job_attempts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: netdevops_user
--

SELECT pg_catalog.setval('public.job_attempts_id_seq', 1, false);


--
-- Name: job_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: netdevops_user
--

SELECT pg_catalog.setval('public.job_logs_id_seq', 1, false);


--
-- Name: jobs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: netdevops_user
--

SELECT pg_catalog.setval('public.jobs_id_seq', 1, false);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: netdevops_user
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: audit_events audit_events_pkey; Type: CONSTRAINT; Schema: public; Owner: netdevops_user
--

ALTER TABLE ONLY public.audit_events
    ADD CONSTRAINT audit_events_pkey PRIMARY KEY (id);


--
-- Name: config_snapshots config_snapshots_pkey; Type: CONSTRAINT; Schema: public; Owner: netdevops_user
--

ALTER TABLE ONLY public.config_snapshots
    ADD CONSTRAINT config_snapshots_pkey PRIMARY KEY (id);


--
-- Name: devices devices_pkey; Type: CONSTRAINT; Schema: public; Owner: netdevops_user
--

ALTER TABLE ONLY public.devices
    ADD CONSTRAINT devices_pkey PRIMARY KEY (id);


--
-- Name: job_attempts job_attempts_pkey; Type: CONSTRAINT; Schema: public; Owner: netdevops_user
--

ALTER TABLE ONLY public.job_attempts
    ADD CONSTRAINT job_attempts_pkey PRIMARY KEY (id);


--
-- Name: job_logs job_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: netdevops_user
--

ALTER TABLE ONLY public.job_logs
    ADD CONSTRAINT job_logs_pkey PRIMARY KEY (id);


--
-- Name: jobs jobs_pkey; Type: CONSTRAINT; Schema: public; Owner: netdevops_user
--

ALTER TABLE ONLY public.jobs
    ADD CONSTRAINT jobs_pkey PRIMARY KEY (id);


--
-- Name: ix_audit_events_id; Type: INDEX; Schema: public; Owner: netdevops_user
--

CREATE INDEX ix_audit_events_id ON public.audit_events USING btree (id);


--
-- Name: ix_config_snapshots_id; Type: INDEX; Schema: public; Owner: netdevops_user
--

CREATE INDEX ix_config_snapshots_id ON public.config_snapshots USING btree (id);


--
-- Name: ix_devices_id; Type: INDEX; Schema: public; Owner: netdevops_user
--

CREATE INDEX ix_devices_id ON public.devices USING btree (id);


--
-- Name: ix_job_attempts_id; Type: INDEX; Schema: public; Owner: netdevops_user
--

CREATE INDEX ix_job_attempts_id ON public.job_attempts USING btree (id);


--
-- Name: ix_job_logs_id; Type: INDEX; Schema: public; Owner: netdevops_user
--

CREATE INDEX ix_job_logs_id ON public.job_logs USING btree (id);


--
-- Name: ix_jobs_id; Type: INDEX; Schema: public; Owner: netdevops_user
--

CREATE INDEX ix_jobs_id ON public.jobs USING btree (id);


--
-- Name: config_snapshots config_snapshots_device_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: netdevops_user
--

ALTER TABLE ONLY public.config_snapshots
    ADD CONSTRAINT config_snapshots_device_id_fkey FOREIGN KEY (device_id) REFERENCES public.devices(id);


--
-- Name: job_attempts job_attempts_job_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: netdevops_user
--

ALTER TABLE ONLY public.job_attempts
    ADD CONSTRAINT job_attempts_job_id_fkey FOREIGN KEY (job_id) REFERENCES public.jobs(id);


--
-- Name: job_logs job_logs_attempt_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: netdevops_user
--

ALTER TABLE ONLY public.job_logs
    ADD CONSTRAINT job_logs_attempt_id_fkey FOREIGN KEY (attempt_id) REFERENCES public.job_attempts(id);


--
-- Name: job_logs job_logs_job_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: netdevops_user
--

ALTER TABLE ONLY public.job_logs
    ADD CONSTRAINT job_logs_job_id_fkey FOREIGN KEY (job_id) REFERENCES public.jobs(id);


--
-- Name: jobs jobs_device_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: netdevops_user
--

ALTER TABLE ONLY public.jobs
    ADD CONSTRAINT jobs_device_id_fkey FOREIGN KEY (device_id) REFERENCES public.devices(id);


--
-- PostgreSQL database dump complete
--

\unrestrict b9O9C9qTdxp8BALkb7Wr4fU7vC3h4sxrdkhjYvrpYRibNzhZ40LFb4i0uSJjHbr

