fastapi
uvicorn[standard]
sqlalchemy
pydantic
python-jose
passlib[bcrypt]
jinja2
requests
python-multipart
psycopg2-binary 
celery==5.3.6
redis==5.0.1
pydantic-settings==2.0.3
netmiko>=4.3.0
paramiko>=3.4.0
cryptography>=40.0.0
python-dotenv>=1.0.0
hvac==1.2.1
alembic
prometheus-client
pytest 
