[ req ]
default_bits       = 4096
prompt             = no
default_md         = sha256
distinguished_name = dn
req_extensions     = req_ext

[ dn ]
CN = vault.vault.svc

[ req_ext ]
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = vault
DNS.2 = vault.vault.svc
DNS.3 = vault.vault.svc.cluster.local
IP.1  = 10.96.41.224
