apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "netdevops.fullname" . }}-api
  labels:
    app.kubernetes.io/name: {{ include "netdevops.name" . }}
    app.kubernetes.io/component: api
spec:
  {{- if not .Values.hpa.enabled }}
  replicas: {{ .Values.api.replicas }}
  {{- end }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "netdevops.name" . }}
      app.kubernetes.io/component: api
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ include "netdevops.name" . }}
        app.kubernetes.io/component: api
    spec:
      serviceAccountName: netdevops-api 
      containers: 
         - name: api
           image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
           imagePullPolicy: {{ .Values.image.pullPolicy }}

           env:
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: netdevops-db
                  key: DATABASE_URL

           command:
            {{- toYaml .Values.api.command | nindent 12 }}

           ports:
            - containerPort: 8000

           readinessProbe:
            httpGet:
              path: /health/ready
              port: 8000
            initialDelaySeconds: 30
            timeoutSeconds: 5
            periodSeconds: 10
            failureThreshold: 6

           livenessProbe:
            httpGet:
              path: /health/live
              port: 8000
            initialDelaySeconds: 15
            periodSeconds: 20

           resources:
            {{- toYaml .Values.resources | nindent 12 }}
