apiVersion: batch/v1
kind: Job
metadata:
  name: alembic-migrate
  namespace: netdevops
spec:
  template:
    spec:
      restartPolicy: Never
      containers:
        - name: migrate
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          command: ["alembic", "upgrade", "head"]
          envFrom:
            - configMapRef:
                name: netdevops-config
            - secretRef:
                name: netdevops-secrets
