image:
  repository: netdevops 
  tag: 974fd97
  pullPolicy: IfNotPresent

environment: dev

api:
  enabled: true
  replicas: 1
  command:
    - uvicorn
    - app.main:app
    - --host
    - 0.0.0.0
    - --port
    - "8000"

worker:
  replicas: 1
  command:
    - celery
    - -A
    - app.worker.celery_app:celery_app
    - worker
    - --loglevel=info

migrations:
  enabled: true
  command:
    - alembic
    - upgrade
    - head

resources: 
  requests:
    cpu : "100m"
    memory: "128Mi"

postgres: 
  enabled: true
  image: postgres:16
  port: 5432
  storage:
    size: 5Gi

secrets:
  database:
    user: netdevops
    password: netdevops
    name: netdevops 
  app:
    secretKey: dev-secret-key

pdb:
  enabled: true
  minAvailable: 1

hpa: 
  enabled: true
  minReplicas: 2
  maxReplicas: 5
  targetCPUUtilizationPercentage: 70

ingress:
  enabled: true
  className: nginx
  host: netdevops.local
  path: /
  